@model Post
@{
	//Use ViewBag.User for the current user from the controller
	//Use ViewBag.Interactions to get the interactions from controller
}


<div>
	<div class="user-info">
		<img src="userID/Profilepic" alt="ProfilePic" />
		<p><!--Username--></p>
	</div>
	<div class="post-image">
		@foreach (string image in Model.Images) {
			<img src="@image" alt="PostImage" />
		}
	</div>
	<div class="interactions">
		<a href="PostID/Like">Like</a>
		<a href="PostID/Comment">Comment</a>
		<a href="PostID/save">save</a>
	</div>
	<div class="info">
		<p><!--get interactions of who liked it--></p>
		<p>@Model.Caption</p>
		<p>@Model.Timestamp</p>
	</div>
</div>