@model IEnumerable<DirectMessage>
@{
	ViewData["Title"] = "Direct Messgaes";
}

<h2>Direct Messages</h2>

<table class="table table-striped">
	<thead>
		<tr>
			<th>User</th>
			<th>Preview</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (DirectMessage c in Model) {
			<tr>
				<td>
					@{ViewBag.User.Sender = c.SenderId;} @*This logic needs updating to make sure its always the other user*@
					<partial name="_UserTab" model="ViewBag.User.Sender" />
				</td> 
				<td>@c.MessageText</td>
				<td>
					<a href="/Message/Thread/@c.MessageId" class="btn btn-primary">View Thread</a>
					<a href="/Message/Delete/@c.MessageId" class="btn btn-info">Delete Message</a>
				</td>
			</tr>
		}
	</tbody>
</table>